version: 2
updates:
- package-ecosystem: "maven"
  directory: "/"
  schedule:
    interval: "monthly"
  cooldown:
    default-days: 7
- package-ecosystem: "maven"
  directory: "/test-projects/webapp-test-bad-context/"
  schedule:
    interval: "monthly"
  cooldown:
    default-days: 7
- package-ecosystem: "maven"
  directory: "/test-projects/webapp-test-keystore/"
  schedule:
    interval: "monthly"
  cooldown:
    default-days: 7
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "monthly"
  cooldown:
    default-days: 7
